*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven
target/

#eclise
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#tem file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db